@media (max-width: 1026px) {
  .faq-container {
    height: auto;
  }
  .product-category-grid {
    grid-template-columns: 1fr 1fr;
  }
  .home-container {
    padding-inline: 1rem;
  }
  .hero-banner {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .faq-box {
    padding: 20px;
  }

  .banner-two-listing li {
    padding: 6px 25px 12px 14px;
  }

  .product-cate-sec {
    padding-top: 0px;
  }
  .seller-img {
    height: 350px;
  }

  .hero-title-section h1 {
    font-size: 31px;
    line-height: 45px;
    margin-bottom: 14px !important;
  }

  .hero-title-section {
    padding: 40px 0 40px;
  }
  .site-btn {
    width: unset;
    text-wrap: nowrap;
    font-weight: 600;
  }

  .product-detail-imgs {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .product-detail-first {
    height: 320px;
  }
  .product-detail-imgs a:first-child {
    grid-column: 1 / -1;
  }
  .mob-menu {
    display: flex;
  }
  .header {
    height: 70px;
  }

  .header-navbar {
    padding-inline: 12px !important;
  }

  .nav-list {
    display: none;
  }

  .foot-left-bottom form {
    flex-direction: column;
  }
  .footer-input {
    max-width: unset;
  }
  .social-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }
  .footer-pay-listing {
    grid-template-columns: repeat(6, 1fr);
  }
  .home-container {
    padding-inline: 22px;
  }
  .rare-collection-sec .product-category-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-category-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 567px) {
  .rare-collection-sec .product-category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-category-grid {
    grid-template-columns: 1fr;
  }
}
